@font-face {
  font-family: 'All Star Resort';
  src:  url('../fonts/All Star Resort.ttf') format('truetype');
}

.headerLayout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px 0 90px 0;
  gap: 40px;
}

.headerLayout img{
  width: 325px
}

.links{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  font-size: 40px;
}

.link {
  color: #ffffff;
  background: #D14E2E;
  text-decoration: none;
  transition: color 200ms;
  padding: 10px 30px;
  border-radius: 5px;
  font-family: 'All Star Resort';
  letter-spacing: 4px;
}

